*{
    padding: 0;
    margin: 0;


}



.container{
    max-width: 1200px;
    margin: auto !important;
}

   
/* Navbar start css  */

 nav{
    
    display: flex;
    justify-content: space-between;
   align-items: center;
    padding: 20px 0;
}

nav .logo-parent{

   display: flex;
    align-items: center;
    gap: 10px;


}

nav .logo-parent img {
  width: 130px;  
}





/* Menu */

.nav-menu{
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-menu a{
    text-decoration: none;
    color: #555;
    font-size: 18px;
}

/* Menu END  */


/* Button */

.common-btn{
    padding: 14px 33px;
    border: none;
    border-radius: 10px;
    background: #274ecc;
    color: white;
    font-size: 16px;
    cursor: pointer;
}



/* Navbar END CSS   */


/* Hero Section Css Start */

.hero-parent-root{
    background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;

    background-position: center;
    background-size: cover;


    display: flex;
    align-items: center;
}

.hero-overlay{
    width: 100%;
    
    min-height: 700px;
    background: rgba(0,0,0,.55);

    display: flex;
    align-items: center;
}

.hero-content{
    max-width: 800px;
      margin: auto;
    text-align: center;
    color: white;
}

.hero-content h1{
    font-size: 72px;
      font-weight: 700;

    margin-bottom: 20px;
}

.hero-content p{
    font-size: 24px;
    line-height: 1.6;
    color: #ddd;
    margin-bottom: 40px;
}


/* Hero Section Css END  */


/* Speaker Section Css Start */

.speaker-parent-root{

    margin: 100px auto !important;

   

}

.section-title{

    text-align: center;
    font-size: 52px;
    margin-bottom: 60px;

}

.speaker-card-parent{

    display: grid;

    grid-template-columns: repeat(2,1fr);

    gap: 25px;

}

.speaker-card{

    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;

}

.speaker-card img{

    width: 100%;
    display: block;

}

.speaker-details{

    padding: 20px;

}

.speaker-details span{

    color: blue;
    font-size: 13px;
    font-weight: bold;

}

.speaker-details h3{

    margin: 10px 0;

    font-size: 27px;

}

.speaker-details p{

    color: gray;

}

/* Speaker Section Css END */


/* Pricing Section Css Start */

.pricing-parent{
    margin: 100px auto !important;
}

/* Section Heading */

.pricing-title{
    text-align: center;
    font-size:47px;
    margin-bottom: 50px;
}



.pricing-title h2{
    font-size: 47px;
    color: #17263C;
    margin-bottom: 10px;
}

.pricing-title p{
    color: #757575;
    font-size: 18px;
}

/* Pricing Card Parent */

.pricing-card-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

/* Pricing Card */

.pricing-card{
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 28px;
    background: #fff;
}

/* Active Card */

.active-card{
    background: #122033;
    color: white;
}

.active-card hr{
    border-color: rgba(255,255,255,.15);
}

.active-card p,
.active-card li,
.active-card span {
    color: #d6d6d6 !important;
}

/* Category */

.pricing-card span{
    font-size: 14px;
    font-weight: 700;
    color: #757575;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Price */

.pricing-card h2{
    font-size: 60px;
    margin: 10px 0;
    font-weight: bold;
}

/* Small Text */

.pricing-card p{
    color: #757575;
    margin-bottom: 20px;
}

/* Line */

.pricing-card hr{
    border: none;
    border-top: 1px solid #E5E7EB;
    margin: 25px 0;
}

/* List */

.pricing-card ul{
    list-style: disc;
    padding-left: 18px;
    margin-bottom: 30px;
}

.pricing-card ul li{
    margin-bottom: 14px;
    color: #444 ;
    line-height: 1.1;
}

/* Buttons */

.pricing-card button{
    width: 100%;
    padding: 14px 33px;
    border-radius: 6px;
    border: 1px solid blue;
    font-size: 16px;
}


/* Pricing Section Css END  */


/* Footer Section */

.footer-parent{
    margin-top: 100px;
    padding: 40px 0;
   background: #04042d;
}

/* Top */

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* Logo */

.footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img{
    width: 100px;
}

.logo-text h3{
    font-size: 28px;
}

.logo-text p{
    font-size: 18px;
}

/* Social */

.footer-social{
    display: flex;
    gap: 18px;
}

.footer-social i {
    font-size: 15px;
    
    color:white
}

.footer-social img:hover{
    transform: scale(1.15);
}

/* Divider */

.footer-parent hr{
    border: none;
    border-top: 1px solid #ddd;
    margin: 25px 0;
}

/* Bottom */

.footer-bottom{
    text-align: center;
}

.footer-bottom p{
    color: #666;
    font-size: 15px;
}